@charset "UTF-8";
@font-face {
    font-family: "segoeUI"; 
    src: url(../fonts/segoeui.ttf); 
   }

@font-face {
	font-family: "fontawesome"; 
	src: url(../fonts/font-awesome/fontawesome-webfont.ttf); 
	src: url(../fonts/font-awesome/fontawesome-webfont.eot); 
	src: url(../fonts/font-awesome/fontawesome-webfont.svg); 
	src: url(../fonts/font-awesome/fontawesome-webfont.woff); 
	src: url(../fonts/font-awesome/fontawesome-webfont.woff2); 
	src: url(../fonts/font-awesome/FontAwesome.otf); 
}


/* @font-face {
	font-family: "shell-icons"; 
	src: url(../fonts/shell-icons-0.4.0.eot); 

}
 */