@media only screen and (max-width: 980px){

.container{
	max-width: 480px;
}
.logo{
	display: block;
	text-align: center;
}
.right-nav{
	text-align: center;
	float: none;
	margin-top: 2px;
}
header.container {
    height: 87px;
    padding-top: 0px;
}
.point{display: none;}
.top-nav{
	width: 100%;
		display: none;
		position: absolute;
		top: 87px;
		left: 0;
		right: 0;
		z-index: 3;
		background-color: #fff;
}
.top-nav li{
	display: block;
	text-align: center;
}
.top-nav a{
	display: inline-block;
	font-size: 20px;
	padding: 10px 0;
	text-transform: uppercase;
}
.spy-fox{display: none;}
.form-tutoring{
	max-width: 100%;
	margin-top: 20px;
	padding: 39px 14px 26px;
}
.incogn{
	width: 72px;
	height: 51px;
	font-size: 20px;
	padding: 8px 5px;
	top: -12px;
	left: -7px;
}
.incogn p {
    line-height: 17px;
}
.incogn span {
    font-size: 13px;
}
h2{
	font-size: 28px;
	margin-bottom: 6px;
}
.top-foxes{
	padding-left: 0;
}
.form-tutoring select, .form-tutoring input[type="text"]{
	width: 100%;
}
.service::before, .form-tutoring::before{
	border-bottom-width: 35px; 
	border-right-width: 35px; 
}
.form-tutoring input[type="submit"]{
	width: 90%;
}
.form-tutoring::after{display: none;}
.bg-fixed{height: 404px;}
.bottom-foxes {
    padding-top: 51px;
	}
	h3{
		font-size: 35px;
	}
	.item-choose{
		width: 100%;
		margin-bottom: 10px;
		padding: 0;
	}
	.item-choose h4,
	.wrap-choose .item-choose:nth-child(2) h4{
		font-size: 28px;
	}
	.slider{
		max-width: 100%;
		height: auto;
		padding: 25px 40px 0;
	}
	.slider .comment{
		font-size: 15px;
	}
	.slider .review-author{
		font-size: 14px;
		margin-top: 13px;
	}
	.testimonials {
		padding-bottom: 35px;
	}
	.our-state{
		height: auto;
		padding-bottom: 20px;
		text-align: center;
	}
	.our-state h3{
		position: static;
		margin-top: -17px;
	}
	.our-state ul{
		float: none;
		width: 100%;
		display: inline-block;
		vertical-align: top;
	}
	.our-state li{
		padding: 0 6px;
	}
	.item-writers{
		width: 100%;
	}
	.best-writers{
		padding-bottom: 25px;
	}
	.service{
		padding: 36px 18px 0;
	}
	.service p {
		margin-bottom: 10px;
		font-size: 14px;
	}
	.service .more{
		font-size: 14px;
	}
	.access{
		padding: 26px 0 28px;
	}
	.access span{
		padding: 0 60px;
	}
	.help{
		width: 100%;
	}
	.help p{
		margin-bottom: 8px;
	}
	footer h4{
		margin-bottom: 10px;
	}
	footer{
		height: auto;
		padding: 20px 0;
	}
	.accept{
		width: 100%;
		padding: 0;
	}
	.reserved{
	margin-top: 10px;	
	}
}
