@media only screen and (max-width: 1250px){
	.footer-signup p input[type="text"],
	 .footer-signup p input[type="email"], 
	 .footer-signup p input[type="password"],
	 p.button button{
	 	width: 270px;
	 }
	 p.button button{
	 	padding: 21px 4px 19px;
	 }
}
@media only screen and (max-width: 1190px){
 .hero__header {
    font-size: 31px;
    max-width: 350px;
	}
	.hero__sub-header{
		font-size: 16px;
		max-width: 330px;
		width: 400px;
	}
	.try-business-cta__button{
		display: inline-block;
		font-size: 16px;
		padding: 14px 40px;
	}
	.try-business-cta__footer{
		float: none;
		text-align: center;
	}
	.try-business-cta{
		float: none;
		margin-right: 15px;
	}
}
@media only screen and (max-width: 1155px){
	.footer-signup p input[type="text"],
	.footer-signup p input[type="email"], 
	.footer-signup p input[type="password"]{
		font-size: 15px;
		width: 230px;
	}
}
@media only screen and (max-width: 1040px){
	.signup_form p{
		margin-bottom: 15px;
	}
	.footer-signup p i{left: 25px;}
	.footer-signup h2{
		font-size: 26px;
		margin-bottom: 30px;
	}
	.footer-signup{
		padding: 60px 0;
	}
	.signup_form p{
		float: none;
	}
	header{height: auto;}
	.header-actions{
		display: none;
		clear: both;
		float: none;
		margin: 0;
		background-color: #f2f2f2;
	}
	.header-actions.show{
		display: block;
	}
 .shell-search {
		float: none;
		width: 100%;
		padding: 1.5em 10px;
		position: relative;
		text-align: center;
	}
	.shell-header-toggle{
		display: block;
	}
	.header-actions .basket{
		display: none;
	}
	.shell-search input,
	 .shell-search input[type="search"]{
		width: 100%;
		height: 30px;
		padding-right: 12px;
	}
	.shell-search .shell-search-wrapper{
		width: 70%;
		padding-top: 0;
	}

	.shell-search button {
		position: absolute;
		background: #0078D7;
		box-sizing: border-box;
		width: 33px;
		height: 30px;
		padding: 0;
		margin-left: -4px;
		border: 0;
		background: #0078D7;
		cursor: pointer;
		top: 0;
		right: -4px;
	}
	.shell-search button:hover,
	.shell-search button:focus{
		background-color: #0060ac;
	}
	.shell-search button:hover i.fa-search,
	.shell-search button:focus i.fa-search{
		color: #fff;
	}
		.shell-search button i.fa-search{
			color: #fff;
		}
}

@media only screen and (max-width: 899px){
	header .container{width: 100%;}
	.logo{margin-left: 0;}
	.shell-header-nav-toggle{
		display: block;
	}
	.top-nav{
		display: none;
		width: 80%;
		position: absolute;
		top: 48px;
		right: 0;
		transition: width .3s ease-out;
		z-index: 1000;
		max-width: 300px;
		height: 100%;
		height: calc(100% - 50px);
		background-color: #f2f2f2;
	}
	.top-nav li{
		display: block;
	}
	.top-nav .fa-angle-down{
		position: absolute;
		right: 28px;
		top: 0px;
		bottom: 0px;
		margin: auto;
		height: 14px;
	}
	.top-nav li a:hover,
	 .top-nav li a:focus {
		background-color: #e5e5e5;
		transition: background-color 0s;
	}

}
@media only screen and (max-width: 766px){
	._4f_7{
		float: none;
		width: 100%;
	}
}
@media only screen and (max-width: 710px){
	.top-section{min-height: 474px;}
	.top-section__container{
		position: static;
		top: 0;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	.hero__header,
	.hero__sub-header{
		width: auto;
	}
	.hero__background-container{
		background-position: 300px center;
		background-repeat: no-repeat;
		margin-left: 0;
		left: 0;
	} 
	
}
@media only screen and (max-width: 534px){
	.footer-signup h2{
		font-size: 18px;
		line-height: 29px;
	}
	.footer-signup{
		padding: 30px 0;
	}
	.top-nav>li.enter{
		display: block;
		float: none;
		font-size: 15px;
		color: #2F2F2F;
		padding: 0 1.5em;
	}
	.top-nav>li.enter:hover{
		color: #2F2F2F;
		background-color: #e5e5e5;
transition: background-color 0s;
	}
	.enter{display: none;}
	.top-nav{
		width: 100%;
		max-width: 100%;
	}
}